:root {
    --accent-color: #2196F3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}


.header {
    background-color: #fff;
    display:inline-flex;
    height: 80px;
    width: 1600px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.features-container {
    box-sizing: border-box;
 

    width: 1170px;
   justify-content: space-between;
   align-content: space-evenly;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: bold;
    Font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.Web {
    color: var(--accent-color);
}
.Studio{
    color: #000000;
}

.links{
    list-style: none;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
}
    
.nav-links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: center;
}
.nav-links-studio-one{
    text-decoration: none;
    color: var(--accent-color);
}
.nav-links-studio{
    text-decoration: none;
    color: #212121;
}
.nav-links-portfolio{
    text-decoration: none;
    color: #212121;
}
.nav-links-portfolio-two{
    text-decoration: none;
    color: var(--accent-color);
}

.nav-links-contacts{
    text-decoration: none;
    color: #212121;
}
.nav-links:hover,
.nav-links:focus, 

.email{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}
.address-header:hover,
.address-header:focus,

.phone{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.hero {
    background-color: #2f303a;
    width: 1600px;
    height: 600px;
    margin-left: 0px;
    margin-top: 80px
    display: flex;
    justify-content: center;
    
}

.hero-title{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    Text-transform: Uppercase;
    color: #ffff;
    position: absolute;
    top:280px;
    left: 452px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
body {
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
}

.button-index {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px, 4px, 4px, rgba(0,0,0,0.15);
    border-radius: 4px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    cursor: pointer;
}
.button {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px, 4px, 4px, rgba(0,0,0,0.15);
    border-radius: 4px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    display: inline-block;
    cursor: pointer;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    display: flex;
}
.b-heading {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}
*, ::after, ::before{
    box-sizing: border-box;
}
.picture-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pictures-heading{
   font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: block;
}
.team-heading{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.photo{
    width: 100%;
    height: auto;
    display: block;
}
.name{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: left;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
    padding: 20px 24px;
}
.name-index{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
}
.description{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.1875;
    text-align: left;
    letter-spacing: 0.03em;
    color: #757575;
    list-style: none;
    padding: 20px 24px;
}
.description-index{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    list-style: none;
}
.footer{
    position:absolute;
    background: #2F303A;
    padding: 50px;
    height: 252px;
    width: 1600px;
}
.address{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffff;
}
.contact-info{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
}
.buttons {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 20px;
    display: inline-flex;
    padding-top: 90px;

}
.main-button{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.08), 0px, 2px, 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    list-style: none;
}
.button-container {
    width: 1170px;
    height: 1360px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 370px;
}
.container{
    width: 1600px;
    height: 648px;
    margin-left:0;
    background: #F5F4FA;
    margin-top:1449px;
}
.Studio-footer{
    color: #fff;
}
