:root {
    --accent-color: #2196F3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.header {
    background-color: #fff;
    display:flex;
    width: 100%;

}
.features-container {
    box-sizing: border-box;
    width: 1170px;
   justify-content: space-between;
   align-content: space-evenly;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: bold;
    Font-size: 26px;
    line-height: 1.19;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0.03em;
    text-decoration: none;
 
}
.Web {
    color: var(--accent-color);
}
.Studio{
    color: #000000;
}

.links{
    list-style: none;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
}
    
.nav-links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: center;
    
}
.nav-links-studio-one{
    text-decoration: none;
    color: var(--accent-color);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 339px;
    padding-right: 50px;
}

}
.nav-links-portfolio-two{
    text-decoration: none;
    color: var(--accent-color);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
}

.nav-links-contacts{
    text-decoration: none;
    color: #212121;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;

} 

.email{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
}
.address-header:hover,
.address-header:focus,

.address-header {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    display:inline-flex;
}
.phone{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    width:122px;
    height:16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 161px;
}

.hero {
    background-color: #2f303a;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.hero-title{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    Text-transform: Uppercase;
    color: #ffff;
    padding-bottom: 280px;
    padding-top:280px;
    margin-right: 239px;
    margin-left: 239px;
    width: 696px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
}
body {
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
}

.button-index {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px, 4px, 4px, rgba(0,0,0,0.15);
    border-radius: 4px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 500px;
    top: 630px;
    cursor: pointer;
}
.button {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px, 4px, 4px, rgba(0,0,0,0.15);
    border-radius: 4px;
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    display: inline-block;
    cursor: pointer;
    padding-right: 8px;
}
.list {
    list-style: none;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 30px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    display: flex;
}
.b-heading {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    padding-top: 94px;
    margin-top: 774px;
    padding-right:30px;
}
.text {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 94px;
    padding-right: 30px;
}
*, ::after, ::before{
    box-sizing: border-box;
}
.main{
    background: #fff;
}
.picture-list{
    list-style: none;
    padding-bottom: 94px;
    padding-right: 15px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    flex-wrap: wrap;
}
.pictures-heading{
   font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    display: block;
}
.team-heading{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.photo{
    width: 100%;
    height: auto;
    display: block;
    padding-right: 30px;
}
.name{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: left;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
    padding: 20px 24px;
    padding-right: 15px;
}
.name-index{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.image{
    padding-right: 30px;
    
}
.description{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.1875;
    text-align: left;
    letter-spacing: 0.03em;
    color: #757575;
    list-style: none;
    padding: 20px 24px;
    padding-right: 15px;
}
.description-index{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    list-style: none;
    padding-right: 30px;
    padding-bottom: 30px;
}
.footer{
    position:absolute;
    background: #2F303A;
    padding: 50px;
    padding-top: 50px;
}
.address{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffff;
    padding-top: 25px;
}
.contact-info{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    padding-top:10px;
    display: block;
}
.buttons {
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: inline-flex;
    padding-right: 8px;
    cursor: pointer;
}
.main-button{
    font-family: "roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.08), 0px, 2px, 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    list-style: none;
    cursor: pointer;
}
.button-container {
    padding-bottom: 50px;
    margin-left: 350px;
    margin-right: 350px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 94px;
    padding-right: 8px;
    cursor: pointer;
}
.card-container{
    width: 1200px;
    padding-right: 15px;
    padding-top: 50px;
}

.card {
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 370px;
    display: block;
}
.container{
    width: 1200px;
    padding-right: 30px;
    background: #F5F4FA;
    padding-top:94px;
}
.Studio-footer{
    color: #fff;
}
